
 <div>
    <img class="image" src="/assets/images/den.webp">
</div>
<div class="title">
    <p>customerlogin</p>
</div> 
 <div class="login"> 
<form (ngSubmit)="login()">
    <div class="User Name"> 
    User Name : 
    <input type="text" name="userName" [(ngModel)]="userName" />
     <br/><br/> 
 </div>
 <div class="Password"> 
     Password : 
     <input type="password" name="passWord" [(ngModel)]="passCode" /> 
     <br/><br/> 
     <input type="submit" value="Login" />
     </div> 
 </form>
</div> 